.forgot {
    background-image: url("/src/assets/forgotBackground.png");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    background-attachment: scroll;
    background-size: cover;
    margin: 0;
    color: white;
}

h1 {
    font-size: max(32px, 1.6vw);
    font-weight: 1000;
    text-align: center;
    padding-top: 15%;
}

h3 {
    font-size: max(15px, 0.7vw);
    font-weight: 400;
    text-align: center;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 30px;
}

.el-button {
    background: #36393F;
    border-radius: 30px;
    width: 60%;
    height: 40px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: max(20px, 1vw);
}

.el-form-item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 4vh;
}

.form {
    background-color: rgba(191, 191, 191, 0.6);
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
}

.link {
    text-align: center;
    font-size: 0.8vw;
    font-weight: 300;
    margin-top: 30px;
    cursor: pointer;

    @media screen and (max-width: 960px) {
        font-size: 2vw;
    }
}

.footer {
    text-align: center;
    font-size: 0.4vw;
    font-weight: 300;
    margin-top: 120px;

    @media screen and (max-width: 960px) {
        font-size: 2vw;
    }
}
